<div id="sidebar">
  <h4>Username</h4>
  <div class="form-group ">
    {{input type="text" class=(if isInvalid 'form-control is-invalid' 'form-control') value=username keyUp=(action "updateUsername") size="15" placeholder="Enter a Username to paint"}}
  </div>

  <hr/>

  <h4>Colors</h4>
  <p>Select a color. Click the selected color again to pick custom colors</p>
  {{color-palette-item value=colorPalette0 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette1 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette2 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette3 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette4 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette5 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
  {{color-palette-item value=colorPalette6 activeColor=activeColor onClick=(action "setActiveColor") onSave=(action "handleNewColor")}}
</div>

{{#mapbox-gl
  class='map-container'
  initOptions=mapInit
  mapLoaded=(action 'mapLoaded')
  as |map|
}}
  {{#if highlightFeature}}
    <div id="map-tooltip" style="top: {{tooltipY}}; left:{{tooltipX}};">{{tooltipText}}</div>
  {{/if}}
  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMapMousemove')}}

  {{#map.source
    options=plutoSource
    as |source|
  }}
    {{source.layer layer=plutoFillLayer before='tunnel-street-low'}}
    {{source.layer layer=plutoLineLayer before='tunnel-street-low'}}
  {{/map.source}}
  {{#if selectedFeature}}
    {{#map.source
      options=selectedFeatureSource
      as |source|
    }}
      {{source.layer layer=selectedFeatureFillLayer before='tunnel-street-low'}}
      {{source.layer layer=selectedFeatureLineLayer before='tunnel-street-low'}}
    {{/map.source}}
  {{/if}}

  {{#if highlightFeature}}
    {{#map.source
      options=highlightFeatureSource
      as |source|
    }}
      {{source.layer layer=highlightFeatureLineLayer before='tunnel-street-low'}}
    {{/map.source}}
  {{/if}}

  {{#map.source
    options=tempFeaturesSource
    as |source|
  }}
    {{source.layer layer=tempFeaturesFillLayer before='tunnel-street-low'}}
    {{source.layer layer=tempFeaturesLineLayer before='tunnel-street-low'}}
  {{/map.source}}
{{/mapbox-gl}}

{{outlet}}
